openapi: 3.0.0
info:
  title: captures/foodpanda.mitm Mitmproxy2Swagger
  version: 1.0.0
servers:
- url: https://bd.fd-api.com
  description: The default server
paths:
  /vendors-gateway/api/v1/pandora/vendors:
    options:
      summary: OPTIONS vendors
      responses:
        '200':
          description: OK
          content: {}
      parameters:
      - name: latitude
        in: query
        required: false
        schema:
          type: string
      - name: longitude
        in: query
        required: false
        schema:
          type: string
      - name: language_id
        in: query
        required: false
        schema:
          type: number
      - name: include
        in: query
        required: false
        schema:
          type: string
      - name: configuration
        in: query
        required: false
        schema:
          type: string
      - name: country
        in: query
        required: false
        schema:
          type: string
      - name: use_free_delivery_label
        in: query
        required: false
        schema:
          type: string
      - name: tag_label_metadata
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: vertical
        in: query
        required: false
        schema:
          type: string
      - name: offset
        in: query
        required: false
        schema:
          type: number
      - name: customer_type
        in: query
        required: false
        schema:
          type: string
    get:
      summary: GET vendors
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: number
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      available_count:
                        type: number
                      returned_count:
                        type: number
                      events:
                        type: array
                        items: {}
                      close_reasons:
                        type: array
                        items: {}
                      banner:
                        type: string
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            code:
                              type: string
                            accepts_instructions:
                              type: boolean
                            address:
                              type: string
                            address_line2:
                              type: string
                            budget:
                              type: number
                            chain:
                              type: object
                              properties:
                                code:
                                  type: string
                                name:
                                  type: string
                                main_vendor_code:
                                  type: string
                                url_key:
                                  type: string
                            city:
                              type: object
                              properties:
                                name:
                                  type: string
                            cuisines:
                              type: array
                              items: {}
                            custom_location_url:
                              type: string
                            customer_type:
                              type: string
                            delivery_box:
                              type: string
                            delivery_fee_type:
                              type: string
                            description:
                              type: string
                            distance:
                              type: number
                            food_characteristics:
                              type: array
                              items: {}
                            has_delivery_provider:
                              type: boolean
                            hero_image:
                              type: string
                            hero_listing_image:
                              type: string
                            is_new_until:
                              type: string
                            premium_position:
                              type: number
                            latitude:
                              type: number
                            logo:
                              type: string
                            longitude:
                              type: number
                            loyalty_percentage_amount:
                              type: number
                            loyalty_program_enabled:
                              type: boolean
                            maximum_express_order_amount:
                              type: number
                            metadata:
                              type: object
                              properties:
                                has_discount:
                                  type: boolean
                                timezone:
                                  type: string
                                close_reasons:
                                  type: array
                                  items: {}
                                available_in:
                                  type: object
                                  nullable: true
                                events:
                                  type: array
                                  items: {}
                                is_delivery_available:
                                  type: boolean
                                is_pickup_available:
                                  type: boolean
                                is_dine_in_available:
                                  type: boolean
                                is_express_delivery_available:
                                  type: boolean
                                is_temporary_closed:
                                  type: boolean
                                is_flood_feature_closed:
                                  type: boolean
                            minimum_delivery_fee:
                              type: number
                            delivery_fee_delta:
                              type: number
                            minimum_delivery_time:
                              type: number
                            delivery_duration_range:
                              type: object
                              properties:
                                lower_limit_in_minutes:
                                  type: number
                                upper_limit_in_minutes:
                                  type: number
                            minimum_order_amount:
                              type: number
                            minimum_pickup_time:
                              type: number
                            name:
                              type: string
                            payment_types:
                              type: array
                              items: {}
                            post_code:
                              type: string
                            primary_cuisine_id:
                              type: number
                            rating:
                              type: number
                            redirection_url:
                              type: string
                            review_number:
                              type: number
                            review_with_comment_number:
                              type: number
                            score:
                              type: number
                            service_fee_percentage_amount:
                              type: number
                            service_tax_percentage_amount:
                              type: number
                            tag:
                              type: string
                            tags:
                              type: array
                              items: {}
                            url_key:
                              type: string
                            vat_percentage_amount:
                              type: number
                            characteristics:
                              type: object
                              properties:
                                cuisines:
                                  type: array
                                  items: {}
                                food_characteristics:
                                  type: array
                                  items: {}
                                primary_cuisine:
                                  type: object
                                  nullable: true
                            vendor_points:
                              type: number
                            vertical:
                              type: string
                            vertical_segment:
                              type: string
                            vertical_parent:
                              type: string
                            web_path:
                              type: string
                            website:
                              type: string
                            has_online_payment:
                              type: boolean
                            discounts_info:
                              type: array
                              items: {}
                            discounts:
                              type: array
                              items: {}
                            vendor_legal_information:
                              type: object
                              properties:
                                legal_name:
                                  type: string
                                trade_register_number:
                                  type: string
                            disclaimers:
                              type: array
                              items: {}
                            customer_phone:
                              type: string
                            vertical_type_ids:
                              type: array
                              items:
                                type: string
                            loyalty_programs:
                              type: array
                              items: {}
                            delivery_provider:
                              type: string
                            is_active:
                              type: boolean
                            is_best_in_city:
                              type: boolean
                            is_checkout_comment_enabled:
                              type: boolean
                            is_delivery_enabled:
                              type: boolean
                            is_new:
                              type: boolean
                            is_pickup_enabled:
                              type: boolean
                            is_premium:
                              type: boolean
                            is_preorder_enabled:
                              type: boolean
                            is_replacement_dish_enabled:
                              type: boolean
                            is_service_fee_enabled:
                              type: boolean
                            is_service_tax_enabled:
                              type: boolean
                            is_service_tax_visible:
                              type: boolean
                            is_test:
                              type: boolean
                            is_vat_disabled:
                              type: boolean
                            is_vat_included_in_product_price:
                              type: boolean
                            is_vat_visible:
                              type: boolean
                            is_voucher_enabled:
                              type: boolean
                            is_promoted:
                              type: boolean
                            tag_ids:
                              type: array
                              items: {}
                            is_meal_for_one_vendor:
                              type: boolean
                            is_preferred_partner:
                              type: boolean
                      num_platform_delivery:
                        type: number
                      num_vendor_delivery:
                        type: number
                      num_platform_delivery_page:
                        type: number
                      num_vendor_delivery_page:
                        type: number
                      dynamic_pricing_session:
                        type: object
                        nullable: true
                      discount_labels_metadata:
                        type: object
                        properties: {}
                      aggregations:
                        type: object
                        properties:
                          cuisines:
                            type: array
                            items: {}
                          events:
                            type: array
                            items: {}
                          discount_labels:
                            type: array
                            items: {}
                          discounts:
                            type: array
                            items: {}
                          close_reasons:
                            type: array
                            items: {}
                          banner:
                            type: string
                          location_event:
                            type: object
                            nullable: true
                          partners:
                            type: array
                            items: {}
                          payment_types:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                title:
                                  type: string
                                highlighted:
                                  type: boolean
                                count:
                                  type: number
                          delivery_provider:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                count:
                                  type: number
                          loyalty_programs:
                            type: array
                            items: {}
                          foodCharacteristics:
                            type: array
                            items: {}
                          quickFilters:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: number
                                title:
                                  type: string
                                count:
                                  type: number
                                slug:
                                  type: object
                                  nullable: true
                          foodCharacteristicsTypes:
                            type: object
                            properties: {}
                      tags:
                        type: object
                        properties: {}
              example:
                status_code: 200
                message: success
                data:
                  available_count: 1
                  returned_count: 1
                  events: []
                  close_reasons: []
                  banner: ''
                  items:
                  - id: 56683
                    code: vbpl
                    accepts_instructions: true
                    address: Plot#12A, Block-CWN(A), North Avenue (Kamal Ataturk Avenue),
                      Gulshan-2,
                    address_line2: ''
                    budget: 2
                    chain:
                      code: cm0ds
                      name: Pandamart
                      main_vendor_code: ta7z
                      url_key: pandamart
                    city:
                      name: Dhaka
                    cuisines: []
                    custom_location_url: ''
                    customer_type: all
                    delivery_box: ''
                    delivery_fee_type: amount
                    description: ''
                    distance: 1.13
                    food_characteristics: []
                    has_delivery_provider: true
                    hero_image: https://images.deliveryhero.io/image/fd-bd/LH/cm0ds-listing.jpg
                    hero_listing_image: https://images.deliveryhero.io/image/fd-bd/LH/cm0ds-listing.jpg
                    is_new_until: '2022-06-23T00:00:00Z'
                    premium_position: 0
                    latitude: 23.7938757
                    logo: ''
                    longitude: 90.41247081
                    loyalty_percentage_amount: 0.0
                    loyalty_program_enabled: false
                    maximum_express_order_amount: 0
                    metadata:
                      has_discount: false
                      timezone: Asia/Dhaka
                      close_reasons: []
                      available_in:
                      events: []
                      is_delivery_available: true
                      is_pickup_available: true
                      is_dine_in_available: false
                      is_express_delivery_available: false
                      is_temporary_closed: false
                      is_flood_feature_closed: false
                    minimum_delivery_fee: 45.99
                    delivery_fee_delta: -0.01
                    minimum_delivery_time: 25.0
                    delivery_duration_range:
                      lower_limit_in_minutes: 15
                      upper_limit_in_minutes: 30
                    minimum_order_amount: 300.0
                    minimum_pickup_time: 15.0
                    name: pandamart (Gulshan Banani)
                    payment_types: []
                    post_code: '1212'
                    primary_cuisine_id: 0
                    rating: 5.0
                    redirection_url: https://foodpanda.com.bd/restaurant/vbpl/pandamart-gulshan-banani
                    review_number: 2
                    review_with_comment_number: 0
                    score: 0.0
                    service_fee_percentage_amount: 0
                    service_tax_percentage_amount: 0
                    tag: ''
                    tags: []
                    url_key: pandamart-gulshan-banani
                    vat_percentage_amount: 0
                    characteristics:
                      cuisines: []
                      food_characteristics: []
                      primary_cuisine:
                    vendor_points: 0
                    vertical: darkstores
                    vertical_segment: darkstores
                    vertical_parent: Shop
                    web_path: https://foodpanda.com.bd/restaurant/vbpl/pandamart-gulshan-banani
                    website: ''
                    has_online_payment: true
                    discounts_info: []
                    discounts: []
                    vendor_legal_information:
                      legal_name: Pandamart
                      trade_register_number: N/A
                    disclaimers: []
                    customer_phone: '+8801647306451'
                    vertical_type_ids:
                    - supermarket
                    loyalty_programs: []
                    delivery_provider: platform_delivery
                    is_active: true
                    is_best_in_city: false
                    is_checkout_comment_enabled: false
                    is_delivery_enabled: true
                    is_new: false
                    is_pickup_enabled: true
                    is_premium: false
                    is_preorder_enabled: true
                    is_replacement_dish_enabled: false
                    is_service_fee_enabled: false
                    is_service_tax_enabled: false
                    is_service_tax_visible: false
                    is_test: false
                    is_vat_disabled: false
                    is_vat_included_in_product_price: true
                    is_vat_visible: false
                    is_voucher_enabled: true
                    is_promoted: false
                    tag_ids: []
                    is_meal_for_one_vendor: false
                    is_preferred_partner: false
                  num_platform_delivery: 0
                  num_vendor_delivery: 0
                  num_platform_delivery_page: 0
                  num_vendor_delivery_page: 0
                  dynamic_pricing_session:
                  discount_labels_metadata: {}
                  aggregations:
                    cuisines: []
                    events: []
                    discount_labels: []
                    discounts: []
                    close_reasons: []
                    banner: ''
                    location_event:
                    partners: []
                    payment_types:
                    - id: credit_card
                      title: NEXTGEN_PAYMENT_SELECTION_CREDIT_CARD
                      highlighted: true
                      count: 1
                    - id: antfinancial_bkash
                      title: NEXTGEN_PAYMENT_SELECTION_ANTFINANCIAL_BKASH
                      highlighted: false
                      count: 1
                    - id: balance
                      title: NEXTGEN_PAYMENT_SELECTION_BALANCE
                      highlighted: false
                      count: 1
                    - id: cybersource_creditcard
                      title: NEXTGEN_PAYMENT_SELECTION_CYBERSOURCE_CREDITCARD
                      highlighted: false
                      count: 1
                    - id: generic_creditcard
                      title: NEXTGEN_PAYMENT_SELECTION_GENERIC_CREDITCARD
                      highlighted: false
                      count: 1
                    - id: invoice
                      title: NEXTGEN_PAYMENT_SELECTION_INVOICE
                      highlighted: false
                      count: 1
                    - id: payment_on_delivery
                      title: NEXTGEN_PAYMENT_SELECTION_PAYMENT_ON_DELIVERY
                      highlighted: false
                      count: 1
                    - id: ssl_online_payment
                      title: NEXTGEN_PAYMENT_SELECTION_SSL_ONLINE_PAYMENT
                      highlighted: false
                      count: 1
                    - id: ssl_standalone_payment
                      title: NEXTGEN_PAYMENT_SELECTION_SSL_STANDALONE_PAYMENT
                      highlighted: false
                      count: 1
                    delivery_provider:
                    - id: platform_delivery
                      count: 1
                    loyalty_programs: []
                    foodCharacteristics: []
                    quickFilters:
                    - id: 0
                      title: has_online_payment
                      count: 1
                      slug:
                    - id: 0
                      title: is_voucher_enabled
                      count: 1
                      slug:
                    foodCharacteristicsTypes: {}
                  tags: {}
      parameters:
      - name: latitude
        in: query
        required: false
        schema:
          type: string
      - name: longitude
        in: query
        required: false
        schema:
          type: string
      - name: language_id
        in: query
        required: false
        schema:
          type: number
      - name: include
        in: query
        required: false
        schema:
          type: string
      - name: configuration
        in: query
        required: false
        schema:
          type: string
      - name: country
        in: query
        required: false
        schema:
          type: string
      - name: use_free_delivery_label
        in: query
        required: false
        schema:
          type: string
      - name: tag_label_metadata
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: vertical
        in: query
        required: false
        schema:
          type: string
      - name: offset
        in: query
        required: false
        schema:
          type: number
      - name: customer_type
        in: query
        required: false
        schema:
          type: string
  /api/v5/address-service/form/default:
    options:
      summary: OPTIONS default
      responses:
        '200':
          description: OK
          content: {}
    get:
      summary: GET default
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      property_types_mapping:
                        type: array
                        items:
                          type: object
                          properties:
                            icon:
                              type: string
                            name:
                              type: string
                      property_types:
                        type: array
                        items:
                          type: string
                      sections:
                        type: array
                        items:
                          type: string
                      hyper_fields_identifier:
                        type: string
                      checkout_field:
                        type: string
                      formatted_address:
                        type: string
                      created_by:
                        type: string
                      multiline_formatted_address:
                        type: array
                        items:
                          type: string
                      pandago_formatted_address:
                        type: array
                        items:
                          type: string
                      multiline_otp_format:
                        type: array
                        items:
                          type: string
                      multiline_checkout_format:
                        type: array
                        items:
                          type: string
                      checkout_multiline_formatted_address:
                        type: array
                        items:
                          type: string
                      otp_multiline_formatted_address:
                        type: array
                        items:
                          type: string
                      user_address_mapping:
                        type: object
                        properties:
                          address_line2:
                            type: string
                      web_specific_properties:
                        type: object
                        properties:
                          addressbook_format:
                            type: array
                            items:
                              type: string
                          autocomplete_type:
                            type: array
                            items:
                              type: string
                          building_format:
                            type: string
                          compare_addresses_by:
                            type: string
                          default_location:
                            type: object
                            properties:
                              latitude:
                                type: number
                              longitude:
                                type: number
                          escape_address:
                            type: boolean
                          establishments:
                            type: boolean
                          establishments_limit:
                            type: number
                          form_mappings:
                            type: object
                            properties:
                              building:
                                type: string
                              street:
                                type: string
                          geocode_format:
                            type: string
                          hide_checkout_postal_code:
                            type: boolean
                          map_enabled:
                            type: boolean
                          required_fields:
                            type: array
                            items:
                              type: string
                          suggestions_limit:
                            type: number
                          update_map_input:
                            type: boolean
                          valid_address_input:
                            type: string
                      dynamic_fields_properties:
                        type: object
                        nullable: true
                      autocomplete_min_length:
                        type: object
                        nullable: true
                      fields:
                        type: array
                        items:
                          type: object
                          properties:
                            mapping:
                              type: array
                              items:
                                type: string
                            geolocator_mapping:
                              type: object
                              nullable: true
                            geolocator_mapping_v2:
                              type: array
                              items:
                                type: string
                            mapping_type:
                              type: string
                            property_type:
                              type: object
                              nullable: true
                            property_translation_keys:
                              type: object
                              nullable: true
                            section:
                              type: string
                            helper_pills:
                              type: object
                              nullable: true
                            text_max_length:
                              type: object
                              nullable: true
                            is_required:
                              type: boolean
                            is_hidden:
                              type: boolean
                            label:
                              type: string
                            name:
                              type: string
                            validation:
                              type: object
                              nullable: true
                            translation_keys:
                              type: object
                              properties:
                                dynamic_field_title_translation_key:
                                  type: string
                                error_translation_key:
                                  type: string
                                hint_translation_key:
                                  type: string
                                label_translation_key:
                                  type: string
                                placeholder_translation_key:
                                  type: string
                            properties:
                              type: object
                              properties:
                                input_type:
                                  type: string
                                is_dynamic_field:
                                  type: boolean
                                is_split_view:
                                  type: boolean
                            depends_on:
                              type: object
                              nullable: true
                            options:
                              type: object
                              nullable: true
                            df_name:
                              type: string
                            prefilled_value:
                              type: string
                            in_focus:
                              type: boolean
                      is_active:
                        type: boolean
                      is_archived:
                        type: boolean
                      is_default:
                        type: boolean
                      is_variation1:
                        type: boolean
                      is_variation2:
                        type: boolean
                      is_deleted:
                        type: boolean
                      created_at:
                        type: string
                      updated_at:
                        type: string
                      default_location:
                        type: object
                        properties:
                          longitude:
                            type: number
                          latitude:
                            type: number
                      compare_addresses_by:
                        type: string
                      valid_address_input:
                        type: string
                      form_mappings:
                        type: object
                        properties:
                          building:
                            type: string
                          street:
                            type: string
                      map_validations:
                        type: object
                        nullable: true
                      autocomplete_type:
                        type: array
                        items:
                          type: string
                      required_fields:
                        type: array
                        items:
                          type: string
                  status_code:
                    type: number
              example:
                data:
                  id: ehljng8vafwi
                  name: Default BD Form
                  property_types_mapping:
                  - icon: ic_home
                    name: house
                  - icon: ic_apartment
                    name: apartment
                  - icon: ic_building
                    name: office
                  - icon: ic_vert_shops
                    name: other
                  property_types:
                  - house
                  - apartment
                  - office
                  - hotel
                  - other
                  sections:
                  - map_fields
                  - local_fields
                  hyper_fields_identifier: local_fields
                  checkout_field: delivery_instructions
                  formatted_address: '{address_line2} {address_line1} {city}'
                  created_by: ''
                  multiline_formatted_address:
                  - '{address_line2} {address_line1}'
                  - '{city}'
                  pandago_formatted_address:
                  - '{flat_number}'
                  - '{address_line2} {address_line1}'
                  - '{address_line3}, {city}, {postcode}'
                  multiline_otp_format:
                  - '{address_line2} {address_line1}'
                  - '{city}'
                  multiline_checkout_format:
                  - '{address_line2} {address_line1}'
                  - '{city}'
                  checkout_multiline_formatted_address:
                  - '{address_line2} {address_line1}'
                  - '{city}, {postcode}'
                  - '{flat_number}'
                  otp_multiline_formatted_address:
                  - '{address_line2} {address_line1}'
                  - '{city}, {postcode}'
                  - '{flat_number}'
                  user_address_mapping:
                    address_line2: '{address_line2} {establishment_name}'
                  web_specific_properties:
                    addressbook_format:
                    - '{address_line2} {address_line1}'
                    - '{city}'
                    autocomplete_type:
                    - address
                    building_format: :number :establishment
                    compare_addresses_by: fields
                    default_location:
                      latitude: 23.684994
                      longitude: 90.356331
                    escape_address: false
                    establishments: true
                    establishments_limit: 2
                    form_mappings:
                      building: address_line2
                      street: address_line1
                    geocode_format: :street :building, :city
                    hide_checkout_postal_code: false
                    map_enabled: true
                    required_fields:
                    - street
                    - city
                    suggestions_limit: 5
                    update_map_input: true
                    valid_address_input: \D+
                  dynamic_fields_properties:
                  autocomplete_min_length:
                  fields:
                  - mapping:
                    - route
                    geolocator_mapping:
                    geolocator_mapping_v2:
                    - street
                    mapping_type: short_name
                    property_type:
                    property_translation_keys:
                    section: map_fields
                    helper_pills:
                    text_max_length:
                    is_required: false
                    is_hidden: false
                    label: NEXTGEN_address_line1
                    name: address_line1
                    validation:
                    translation_keys:
                      dynamic_field_title_translation_key: NEXTGEN_MBL_DF_STREET_TITLE
                      error_translation_key: NEXTGEN_MBL_DF_STREET_ERROR
                      hint_translation_key: NEXTGEN_MBL_DF_STREET
                      label_translation_key: NEXTGEN_MBL_DF_STREET
                      placeholder_translation_key: NEXTGEN_MBL_DF_STREET
                    properties:
                      input_type: text_single_line
                      is_dynamic_field: true
                      is_split_view: true
                    depends_on:
                    options:
                    df_name: street
                    prefilled_value: ''
                    in_focus: false
                  - mapping:
                    - street_number
                    geolocator_mapping:
                    geolocator_mapping_v2:
                    - number
                    mapping_type: short_name
                    property_type:
                    property_translation_keys:
                    section: map_fields
                    helper_pills:
                    text_max_length:
                    is_required: false
                    is_hidden: false
                    label: NEXTGEN_address_line2
                    name: address_line2
                    validation:
                    translation_keys:
                      dynamic_field_title_translation_key: NEXTGEN_MBL_DF_STREET_NUMBER_TITLE
                      error_translation_key: NEXTGEN_MBL_DF_STREET_NUMBER_ERROR
                      hint_translation_key: NEXTGEN_MBL_DF_STREET_NUMBER
                      label_translation_key: NEXTGEN_MBL_DF_STREET_NUMBER
                      placeholder_translation_key: NEXTGEN_MBL_DF_STREET_NUMBER
                    properties:
                      input_type: text_single_line
                      is_dynamic_field: true
                      is_split_view: true
                    depends_on:
                    options:
                    df_name: street_number
                    prefilled_value: ''
                    in_focus: false
                  - mapping:
                    - sublocality_level_1
                    geolocator_mapping:
                    geolocator_mapping_v2:
                    - area
                    mapping_type: long_name
                    property_type:
                    property_translation_keys:
                    section: map_fields
                    helper_pills:
                    text_max_length:
                    is_required: false
                    is_hidden: false
                    label: NEXTGEN_address_line3
                    name: address_line3
                    validation:
                      match: '[\w\s/\-\#,.]+'
                    translation_keys:
                      dynamic_field_title_translation_key: NEXTGEN_MBL_DF_AREA_TITLE
                      error_translation_key: NEXTGEN_MBL_DF_AREA_ERROR
                      hint_translation_key: NEXTGEN_MBL_DF_AREA
                      label_translation_key: NEXTGEN_MBL_DF_AREA
                      placeholder_translation_key: NEXTGEN_MBL_DF_AREA
                    properties:
                      input_type: text_single_line
                      is_dynamic_field: true
                      is_split_view: false
                    depends_on:
                    options:
                    df_name: district
                    prefilled_value: ''
                    in_focus: false
                  - mapping:
                    - locality
                    geolocator_mapping:
                    geolocator_mapping_v2:
                    - city
                    mapping_type: long_name
                    property_type:
                    property_translation_keys:
                    section: ''
                    helper_pills:
                    text_max_length:
                    is_required: false
                    is_hidden: true
                    label:
                    name: city
                    validation:
                      match: '[\w\s/\-\#,.]+'
                    translation_keys:
                      error_translation_key: ''
                      hint_translation_key: ''
                    properties:
                      input_type: text_single_line
                      is_dynamic_field: false
                      is_split_view: false
                    depends_on:
                    options:
                    df_name: city
                    prefilled_value: ''
                    in_focus: false
                  - mapping:
                    - country
                    geolocator_mapping:
                    geolocator_mapping_v2:
                    - country_code
                    mapping_type: short_name
                    property_type:
                    property_translation_keys:
                    section: ''
                    helper_pills:
                    text_max_length:
                    is_required: false
                    is_hidden: true
                    label:
                    name: country_code
                    validation:
                      match: .+
                    translation_keys:
                      error_translation_key: ''
                      hint_translation_key: ''
                    properties:
                      input_type: text_single_line
                      is_dynamic_field: false
                      is_split_view: false
                    depends_on:
                    options:
                    df_name: ''
                    prefilled_value: ''
                    in_focus: false
                  - mapping:
                    - country_iso
                    geolocator_mapping:
                    geolocator_mapping_v2:
                    - country_iso
                    mapping_type: short_name
                    property_type:
                    property_translation_keys:
                    section: map_fields
                    helper_pills:
                    text_max_length:
                    is_required: false
                    is_hidden: true
                    label:
                    name: country_iso
                    validation:
                    translation_keys:
                    properties:
                      input_type: text_single_line
                      is_dynamic_field: false
                      is_split_view: false
                    depends_on:
                    options:
                    df_name: ''
                    prefilled_value: ''
                    in_focus: false
                  - mapping:
                    geolocator_mapping:
                    geolocator_mapping_v2:
                    mapping_type: ''
                    property_type:
                    - house
                    - apartment
                    - office
                    - other
                    property_translation_keys:
                    section: local_fields
                    helper_pills:
                    text_max_length:
                    is_required: false
                    is_hidden: false
                    label: NEXTGEN_MBL_APARTMENT
                    name: flat_number
                    validation:
                    translation_keys:
                      error_translation_key: ''
                      format_translation_key: NEXTGEN_MBL_FLAT_FORMATTING
                      hint_translation_key: NEXTGEN_MBL_APARTMENT
                      label_translation_key: NEXTGEN_MBL_APARTMENT
                      placeholder_translation_key: NEXTGEN_MBL_APARTMENT
                    properties:
                      input_type: text_single_line
                      is_dynamic_field: false
                      is_split_view: false
                    depends_on:
                    options:
                    df_name: unit
                    prefilled_value: ''
                    in_focus: false
                  - mapping:
                    geolocator_mapping:
                    geolocator_mapping_v2:
                    mapping_type: ''
                    property_type:
                    - house
                    - apartment
                    - office
                    - other
                    property_translation_keys:
                    section: local_fields
                    helper_pills:
                    text_max_length:
                    is_required: false
                    is_hidden: false
                    label: NEXTGEN_delivery_instructions
                    name: delivery_instructions
                    validation:
                    translation_keys:
                      error_translation_key: ''
                      hint_translation_key: NEXTGEN_delivery_instructions
                      label_translation_key: NEXTGEN_delivery_instructions_title
                      placeholder_translation_key: NEXTGEN_delivery_instructions
                      subtitle_translation_key: NEXTGEN_delivery_instructions_subtitle
                      title_translation_key: NEXTGEN_delivery_instructions_title
                    properties:
                      input_type: text_multiple_line
                      is_dynamic_field: false
                      is_split_view: false
                    depends_on:
                    options:
                    df_name: delivery_instructions
                    prefilled_value: ''
                    in_focus: false
                  is_active: true
                  is_archived: false
                  is_default: true
                  is_variation1: false
                  is_variation2: false
                  is_deleted: false
                  created_at: '2021-02-24T15:46:56.34837457Z'
                  updated_at: '2025-04-07T07:52:46.106551553Z'
                  default_location:
                    longitude: 90.35633
                    latitude: 23.684994
                  compare_addresses_by: fields
                  valid_address_input: \D+
                  form_mappings:
                    building: address_line2
                    street: address_line1
                  map_validations:
                  autocomplete_type:
                  - address
                  required_fields:
                  - street
                  - city
                status_code: 200
  /graphql:
    options:
      summary: OPTIONS graphql
      responses:
        '200':
          description: OK
          content: {}
    post:
      summary: POST graphql
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      vendorListingPage:
                        type: object
                        properties:
                          components:
                            type: array
                            items:
                              type: object
                              properties:
                                __typename:
                                  type: string
                                id:
                                  type: string
                                headline:
                                  type: string
                                header:
                                  type: object
                                  properties:
                                    title:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          textType:
                                            type: string
                                          value:
                                            type: string
                                          styling:
                                            type: object
                                            nullable: true
                                          placeholders:
                                            type: object
                                            nullable: true
                                          __typename:
                                            type: string
                                    subtitle:
                                      type: object
                                      nullable: true
                                    theme:
                                      type: object
                                      nullable: true
                                    __typename:
                                      type: string
                                entities:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      __typename:
                                        type: string
                                      id:
                                        type: string
                                      name:
                                        type: string
                                      imageUrl:
                                        type: string
                                pagination:
                                  type: object
                                  properties:
                                    total:
                                      type: number
                                    returned:
                                      type: number
                                    __typename:
                                      type: string
                                metadata:
                                  type: object
                                  properties:
                                    discoStrategyId:
                                      type: string
                                    __typename:
                                      type: string
                                type:
                                  type: object
                                  nullable: true
                          availabilityEvents:
                            type: object
                            nullable: true
                          experiments:
                            type: object
                            nullable: true
                          tokenPagination:
                            type: object
                            properties:
                              token:
                                type: string
                              expiresAt:
                                type: string
                              __typename:
                                type: string
                          vendorAggregations:
                            type: object
                            properties:
                              cuisines:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    __typename:
                                      type: string
                                    id:
                                      type: string
                                    title:
                                      type: string
                                    count:
                                      type: number
                              foodCharacteristics:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    __typename:
                                      type: string
                                    id:
                                      type: string
                                    title:
                                      type: string
                                    count:
                                      type: number
                              discountLabels:
                                type: array
                                items: {}
                              deliveryProviders:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    __typename:
                                      type: string
                                    id:
                                      type: string
                                    title:
                                      type: string
                                    count:
                                      type: number
                              partners:
                                type: array
                                items: {}
                              paymentTypes:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    __typename:
                                      type: string
                                    id:
                                      type: string
                                    title:
                                      type: string
                                    count:
                                      type: number
                              quickFilters:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    __typename:
                                      type: string
                                    id:
                                      type: string
                                    title:
                                      type: string
                                    count:
                                      type: number
                              hasDiscount:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    __typename:
                                      type: string
                                    id:
                                      type: string
                                    title:
                                      type: object
                                      nullable: true
                                    count:
                                      type: number
                              hasFreeDelivery:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    __typename:
                                      type: string
                                    id:
                                      type: string
                                    title:
                                      type: object
                                      nullable: true
                                    count:
                                      type: number
                              hasProDiscount:
                                type: array
                                items: {}
                              superVendors:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    __typename:
                                      type: string
                                    id:
                                      type: string
                                    title:
                                      type: string
                                    count:
                                      type: number
                              verticalTypes:
                                type: array
                                items: {}
                              __typename:
                                type: string
                          totalVendors:
                            type: number
                          __typename:
                            type: string
                  extensions:
                    type: object
                    properties:
                      x-request-id:
                        type: string
              example:
                data:
                  vendorListingPage:
                    components:
                    - __typename: SwimlaneComponent
                      id: category-cuisine-restaurants
                      headline: Cuisines
                      header:
                        title:
                        - textType: RAW_TEXT
                          value: Cuisines
                          styling:
                          placeholders:
                          __typename: RichTextElement
                        subtitle:
                        theme:
                        __typename: SwimlaneHeader
                      entities:
                      - __typename: Cuisine
                        id: '193'
                        name: Biryani
                        imageUrl: https://images.deliveryhero.io/image/foodpanda/cuisine-images/bd/193.png
                      - __typename: Cuisine
                        id: '73'
                        name: Pizza
                        imageUrl: https://images.deliveryhero.io/image/foodpanda/cuisine-images/bd/73.png
                      - __typename: Cuisine
                        id: '85'
                        name: Burgers
                        imageUrl: https://images.deliveryhero.io/image/foodpanda/cuisine-images/bd/85.png
                      - __typename: Cuisine
                        id: '195'
                        name: Bangladeshi
                        imageUrl: https://images.deliveryhero.io/image/foodpanda/cuisine-images/bd/195.png
                      - __typename: Cuisine
                        id: '86'
                        name: Fast Food
                        imageUrl: https://images.deliveryhero.io/image/foodpanda/cuisine-images/bd/86.png
                      - __typename: Cuisine
                        id: '123'
                        name: Rice Dishes
                        imageUrl: https://images.deliveryhero.io/image/foodpanda/cuisine-images/bd/123.png
                      - __typename: Cuisine
                        id: '77'
                        name: Cakes
                        imageUrl: https://images.deliveryhero.io/image/foodpanda/cuisine-images/bd/77.png
                      - __typename: Cuisine
                        id: '122'
                        name: Snacks
                        imageUrl: https://images.deliveryhero.io/image/foodpanda/cuisine-images/bd/122.png
                      - __typename: Cuisine
                        id: '90'
                        name: Cafe
                        imageUrl: https://images.deliveryhero.io/image/foodpanda/cuisine-images/bd/90.png
                      - __typename: Cuisine
                        id: '132'
                        name: Kebab
                        imageUrl: https://images.deliveryhero.io/image/foodpanda/cuisine-images/bd/132.png
                      pagination:
                        total: 16
                        returned: 15
                        __typename: Pagination
                      metadata:
                        discoStrategyId: eb56117a-63c3-4741-a56d-f55726e151f4
                        __typename: SwimlaneMetadata
                      type:
                    - __typename: CampaignCarouselComponent
                      id: '4'
                      config:
                        autoMoveDuration: 3000
                        __typename: CampaignCarouselComponentConfig
                      campaigns:
                      - id: 84fdb903-4501-11f1-8b38-c288f7210443
                        title: 'Enjoy 50% off your first order code: YUMPANDA.'
                        imageUrls:
                          small: 
                            https://images.deliveryhero.io/image/fd-bd/campaign-assets/76c189a1-3275-11f1-86c9-5ead4a5ba399/mobile_tile_EnIasJ.png
                          medium: ''
                          large: 
                            https://images.deliveryhero.io/image/fd-bd/campaign-assets/76c189a1-3275-11f1-86c9-5ead4a5ba399/mobile_landing_EnEFcM.png
                          smallWide: ''
                          smallDesktop: 
                            https://images.deliveryhero.io/image/fd-bd/campaign-assets/76c189a1-3275-11f1-86c9-5ead4a5ba399/desktop_tile_EnqRLb.png
                          __typename: CampaignImageUrls
                        externalIntegration: none
                        urlKey: HVA - YUMPANDA - Logged out
                        links:
                        isDynamicCampaign: false
                        hva:
                        isHVA: false
                        isTargetingGuests: true
                        __typename: Campaign
                      - id: 77596264-568b-11f1-b170-c64efa4a3dc0
                        title: 'Enjoy 15% off every item For the month of May. '
                        imageUrls:
                          small: 
                            https://images.deliveryhero.io/image/fd-bd/campaign-assets/3aff7316-dbdf-11f0-b530-e6b65802d19d/mobile_tile_EnYSdy.png
                          medium: ''
                          large: 
                            https://images.deliveryhero.io/image/fd-bd/campaign-assets/3aff7316-dbdf-11f0-b530-e6b65802d19d/mobile_landing_Enmpid.png
                          smallWide: ''
                          smallDesktop: 
                            https://images.deliveryhero.io/image/fd-bd/campaign-assets/3aff7316-dbdf-11f0-b530-e6b65802d19d/desktop_tile_EnOgcQ.png
                          __typename: CampaignImageUrls
                        externalIntegration: none
                        urlKey: alwayson
                        links:
                        isDynamicCampaign: false
                        hva:
                        isHVA: false
                        isTargetingGuests: false
                        __typename: Campaign
                    - __typename: VendorListingPageFrontendComponent
                    - __typename: SwimlaneComponent
                      id: manual-vendor-15_off_entire_menu
                      headline: Flat 15% off entire menu
                      header:
                        title:
                        - textType: RAW_TEXT
                          value: Flat 15% off entire menu
                          styling:
                          placeholders:
                          __typename: RichTextElement
                        subtitle:
                        theme:
                        __typename: SwimlaneHeader
                      entities:
                      - __typename: VendorData
                        code: q2wp
                        name: Pazzi Fox Pizza
                        isSuperVendor: false
                        availability:
                          distanceInMeters: 2429
                          isClosedDueToDisruption: false
                          nextAvailableAt:
                          status: OPEN
                          __typename: VendorAvailability
                        verticalParent:
                          code: Restaurant
                          __typename: VerticalParent
                        verticalSegment:
                          code: restaurants
                          __typename: VerticalSegment
                        resolutionFallback:
                          minimumDeliveryTime: 0
                          pricing:
                            deliveryFee: 0
                            minimumOrderValue: 0
                            __typename: VendorAvailabilityPricingFallbacks
                          __typename: VendorAvailabilityFallbacks
                        nonCommissionRevenueInfo:
                          pricingModel: PRICING_CPC
                          token: 
                            MuJFxYYE9JnNoFvg1RPK6wrqDX9HDldqV4EqQPyPXs5sWauT/wHmBa6aNge9mrs5nsudedXEyvZUDOunt3JR6FOuAvhiaRGFMRu5PZ+wbwJvlTwhjQOAm5W8WyARTielkpZy0/IuGIe3M+vkkOnEAcXiyY1p7WavktmXizlxJG/ZRoVXywJWj+zeMBLc7xOjPNc+fj95iAFyp0Cs94E8cilJ6TxZr62horEXznG7jHXaJgDix0P67oOgXcZkMu8uUNTh9MyYUyO7O3LlGFddFo71Wq7jSTWyU18hw6Qoq12FUUBXwzN4eh9uqakgEqp6rObzyps1+5qU9EU=
                          __typename: VendorNonCommissionRevenueInfo
                        images:
                          listing: https://images.deliveryhero.io/image/fd-bd/LH/q2wp-listing.jpg
                          logo: https://images.deliveryhero.io/image/fd-bd/LH/q2wp-hero.jpg
                          __typename: VendorImagesData
                        vendorBudget:
                          budget: 3
                          __typename: VendorBudget
                        vendorChainData:
                        isFavoriteVendor: false
                        timeEstimations:
                          delivery:
                            duration:
                              upperLimitInMinutes: 45
                              lowerLimitInMinutes: 30
                              __typename: TimeEstimationDuration
                            minimumTime:
                            __typename: TimeEstimation
                          pickup:
                          __typename: TimeEstimations
                        timezone: Asia/Dhaka
                        vendorRating:
                          count: 169
                          value: 4.5
                          __typename: VendorRating
                        deliveryProvider: PLATFORM
                        incentives:
                        - id: '604009'
                          __typename: IncentiveData
                        - id: dynamic-pricing:experiment:5296:q2wp
                          __typename: IncentiveData
                        urlKey: pazzi-fox-pizza
                        dynamicPricing:
                          deliveryFee:
                            total: 101
                            __typename: DynamicPricingDeliveryFee
                          minimumOrderValue:
                            total: 50
                            __typename: DynamicPricingMinimumOrderValue
                          __typename: DynamicPricing
                        vendorTile:
                          type: M
                          media:
                            url: https://images.deliveryhero.io/image/fd-bd/LH/q2wp-listing.jpg
                            __typename: Image
                          primaryTags:
                          - id: TAG_DEAL
                            elements:
                            - __typename: VendorTileIcon
                              iconId: DISCOUNT
                              iconDecorators: []
                            - __typename: VendorTileText
                              textId:
                              text: 15% off Tk. 50
                              arguments: []
                              isTranslationKey: false
                              textDecorators: []
                            __typename: VendorTileElementGroup
                          secondaryTags:
                          - id: TAG_PROMOTED
                            elements:
                            - __typename: VendorTileText
                              textId:
                              text: NEXTGEN_FEATURED_TAG
                              arguments: []
                              isTranslationKey: true
                              textDecorators: []
                            __typename: VendorTileElementGroup
                          vendorInfo:
                          - - id: VENDOR_INFO_DELIVERY_TIME
                              elements:
                              - __typename: VendorTileText
                                textId:
                                text: NEXTGEN_VIN_DELIVERY_SAVER_TIME_VARIANT_TILE
                                arguments:
                                - '30'
                                isTranslationKey: true
                                textDecorators: []
                              __typename: VendorTileElementGroup
                            - id: VENDOR_INFO_BUDGET_SIGN
                              elements:
                              - __typename: VendorTileText
                                textId:
                                text: ৳৳৳
                                arguments: []
                                isTranslationKey: false
                                textDecorators: []
                              __typename: VendorTileElementGroup
                            - id: VENDOR_INFO_CUISINES
                              elements:
                              - __typename: VendorTileText
                                textId:
                                text: Pizza
                                arguments: []
                                isTranslationKey: false
                                textDecorators: []
                              __typename: VendorTileElementGroup
                          - - id: VENDOR_INFO_DELIVERY_FEE
                              elements:
                              - __typename: VendorTileIcon
                                iconId: RIDER
                                iconDecorators: []
                              - __typename: VendorTileText
                                textId:
                                text: NEXTGEN_VIN_DELIVERY_SAVER_VARIANT_B_TILE
                                arguments:
                                - Tk85
                                isTranslationKey: true
                                textDecorators: []
                              - __typename: VendorTileIcon
                                iconId: SURGE_UP
                                iconDecorators: []
                              __typename: VendorTileElementGroup
                          __typename: VendorTile
                      - __typename: VendorData
                        code: n0zu
                        name: Special Bhai Bhai Biriyani House
                        isSuperVendor: false
                        availability:
                          distanceInMeters: 1780
                          isClosedDueToDisruption: false
                          nextAvailableAt:
                          status: OPEN
                          __typename: VendorAvailability
                        verticalParent:
                          code: Restaurant
                          __typename: VerticalParent
                        verticalSegment:
                          code: restaurants
                          __typename: VerticalSegment
                        resolutionFallback:
                          minimumDeliveryTime: 0
                          pricing:
                            deliveryFee: 0
                            minimumOrderValue: 0
                            __typename: VendorAvailabilityPricingFallbacks
                          __typename: VendorAvailabilityFallbacks
                        nonCommissionRevenueInfo:
                        images:
                          listing: https://images.deliveryhero.io/image/fd-bd/LH/n0zu-listing.jpg
                          logo: https://images.deliveryhero.io/image/fd-bd/LH/n0zu-hero.jpg
                          __typename: VendorImagesData
                        vendorBudget:
                          budget: 2
                          __typename: VendorBudget
                        vendorChainData:
                          code: cn1ub
                          name: Special Bhai Bhai Biriyani House
                          mainVendorCode: n0zu
                          urlKey: special-bhai-bhai-biriyani-house
                          __typename: VendorChainData
                        isFavoriteVendor: false
                        timeEstimations:
                          delivery:
                            duration:
                              upperLimitInMinutes: 35
                              lowerLimitInMinutes: 20
                              __typename: TimeEstimationDuration
                            minimumTime:
                            __typename: TimeEstimation
                          pickup:
                          __typename: TimeEstimations
                        timezone: Asia/Dhaka
                        vendorRating:
                          count: 1402
                          value: 4.2
                          __typename: VendorRating
                        deliveryProvider: PLATFORM
                        incentives:
                        - id: '604385'
                          __typename: IncentiveData
                        - id: dynamic-pricing:experiment:5296:n0zu
                          __typename: IncentiveData
                        urlKey: special-bhai-bhai-biriyani-house
                        dynamicPricing:
                          deliveryFee:
                            total: 81
                            __typename: DynamicPricingDeliveryFee
                          minimumOrderValue:
                            total: 50
                            __typename: DynamicPricingMinimumOrderValue
                          __typename: DynamicPricing
                        vendorTile:
                          type: M
                          media:
                            url: https://images.deliveryhero.io/image/fd-bd/LH/n0zu-listing.jpg
                            __typename: Image
                          primaryTags:
                          - id: TAG_DEAL
                            elements:
                            - __typename: VendorTileIcon
                              iconId: DISCOUNT
                              iconDecorators: []
                            - __typename: VendorTileText
                              textId:
                              text: 15% off Tk. 50
                              arguments: []
                              isTranslationKey: false
                              textDecorators: []
                            __typename: VendorTileElementGroup
                          secondaryTags: []
                          vendorInfo:
                          - - id: VENDOR_INFO_DELIVERY_TIME
                              elements:
                              - __typename: VendorTileText
                                textId:
                                text: NEXTGEN_VIN_DELIVERY_SAVER_TIME_VARIANT_TILE
                                arguments:
                                - '20'
                                isTranslationKey: true
                                textDecorators: []
                              __typename: VendorTileElementGroup
                            - id: VENDOR_INFO_BUDGET_SIGN
                              elements:
                              - __typename: VendorTileText
                                textId:
                                text: ৳৳
                                arguments: []
                                isTranslationKey: false
                                textDecorators: []
                              __typename: VendorTileElementGroup
                            - id: VENDOR_INFO_CUISINES
                              elements:
                              - __typename: VendorTileText
                                textId:
                                text: Biryani
                                arguments: []
                                isTranslationKey: false
                                textDecorators: []
                              __typename: VendorTileElementGroup
                          - - id: VENDOR_INFO_DELIVERY_FEE
                              elements:
                              - __typename: VendorTileIcon
                                iconId: RIDER
                                iconDecorators: []
                              - __typename: VendorTileText
                                textId:
                                text: NEXTGEN_VIN_DELIVERY_SAVER_VARIANT_B_TILE
                                arguments:
                                - Tk66
                                isTranslationKey: true
                                textDecorators: []
                              - __typename: VendorTileIcon
                                iconId: SURGE_UP
                                iconDecorators: []
                              __typename: VendorTileElementGroup
                          __typename: VendorTile
                      - __typename: VendorData
                        code: zovu
                        name: Rice on Fire
                        isSuperVendor: false
                        availability:
                          distanceInMeters: 3475
                          isClosedDueToDisruption: false
                          nextAvailableAt:
                          status: OPEN
                          __typename: VendorAvailability
                        verticalParent:
                          code: Restaurant
                          __typename: VerticalParent
                        verticalSegment:
                          code: restaurants
                          __typename: VerticalSegment
                        resolutionFallback:
                          minimumDeliveryTime: 0
                          pricing:
                            deliveryFee: 0
                            minimumOrderValue: 0
                            __typename: VendorAvailabilityPricingFallbacks
                          __typename: VendorAvailabilityFallbacks
                        nonCommissionRevenueInfo:
                        images:
                          listing: https://images.deliveryhero.io/image/fd-bd/LH/zovu-listing.jpg
                          logo: https://images.deliveryhero.io/image/fd-bd/LH/zovu-hero.jpg
                          __typename: VendorImagesData
                        vendorBudget:
                          budget: 2
                          __typename: VendorBudget
                        vendorChainData:
                        isFavoriteVendor: false
                        timeEstimations:
                          delivery:
                            duration:
                              upperLimitInMinutes: 45
                              lowerLimitInMinutes: 30
                              __typename: TimeEstimationDuration
                            minimumTime:
                            __typename: TimeEstimation
                          pickup:
                          __typename: TimeEstimations
                        timezone: Asia/Dhaka
                        vendorRating:
                          count: 842
                          value: 4.2
                          __typename: VendorRating
                        deliveryProvider: PLATFORM
                        incentives:
                        - id: '604399'
                          __typename: IncentiveData
                        - id: '584891'
                          __typename: IncentiveData
                        - id: dynamic-pricing:experiment:5296:zovu
                          __typename: IncentiveData
                        urlKey: rice-on-fire
                        dynamicPricing:
                          deliveryFee:
                            total: 119
                            __typename: DynamicPricingDeliveryFee
                          minimumOrderValue:
                            total: 50
                            __typename: DynamicPricingMinimumOrderValue
                          __typename: DynamicPricing
                        vendorTile:
                          type: M
                          media:
                            url: https://images.deliveryhero.io/image/fd-bd/LH/zovu-listing.jpg
                            __typename: Image
                          primaryTags:
                          - id: TAG_DEAL
                            elements:
                            - __typename: VendorTileIcon
                              iconId: DISCOUNT
                              iconDecorators: []
                            - __typename: VendorTileText
                              textId:
                              text: 20% off Tk. 50
                              arguments: []
                              isTranslationKey: false
                              textDecorators: []
                            __typename: VendorTileElementGroup
                          secondaryTags: []
                          vendorInfo:
                          - - id: VENDOR_INFO_DELIVERY_TIME
                              elements:
                              - __typename: VendorTileText
                                textId:
                                text: NEXTGEN_VIN_DELIVERY_SAVER_TIME_VARIANT_TILE
                                arguments:
                                - '30'
                                isTranslationKey: true
                                textDecorators: []
                              __typename: VendorTileElementGroup
                            - id: VENDOR_INFO_BUDGET_SIGN
                              elements:
                              - __typename: VendorTileText
                                textId:
                                text: ৳৳
                                arguments: []
                                isTranslationKey: false
                                textDecorators: []
                              __typename: VendorTileElementGroup
                            - id: VENDOR_INFO_CUISINES
                              elements:
                              - __typename: VendorTileText
                                textId:
                                text: Fast Food
                                arguments: []
                                isTranslationKey: false
                                textDecorators: []
                              __typename: VendorTileElementGroup
                          - - id: VENDOR_INFO_DELIVERY_FEE
                              elements:
                              - __typename: VendorTileIcon
                                iconId: RIDER
                                iconDecorators: []
                              - __typename: VendorTileText
                                textId:
                                text: NEXTGEN_VIN_DELIVERY_SAVER_VARIANT_B_TILE
                                arguments:
                                - Tk100
                                isTranslationKey: true
                                textDecorators: []
                              - __typename: VendorTileIcon
                                iconId: SURGE_UP
                                iconDecorators: []
                              __typename: VendorTileElementGroup
                          __typename: VendorTile
                      - __typename: VendorData
                        code: j4w2
                        name: Coffee And
                        isSuperVendor: false
                        availability:
                          distanceInMeters: 1479
                          isClosedDueToDisruption: false
                          nextAvailableAt:
                          status: OPEN
                          __typename: VendorAvailability
                        verticalParent:
                          code: Restaurant
                          __typename: VerticalParent
                        verticalSegment:
                          code: restaurants
                          __typename: VerticalSegment
                        resolutionFallback:
                          minimumDeliveryTime: 0
                          pricing:
                            deliveryFee: 0
                            minimumOrderValue: 0
                            __typename: VendorAvailabilityPricingFallbacks
                          __typename: VendorAvailabilityFallbacks
                        nonCommissionRevenueInfo:
                          pricingModel: PRICING_CPC
                          token: 
                            890NWujjw0swfttAQe7fZRG68KaWLBHE6iSdpoCiNPoWmd71YEtAWT6s49lhi7QeuKES1SVwItYT01hPPGsecIGWqFHTnUzrBG6F9UCSavatRHltZ3thyp65PUCLJxDKcpSbAKTCr2wQxlOsT8YDyoXewd9YO0WiYw5P2jvXm/ZGBvkVAw1TBZYvAFXIoJOBHaNpSaGNZcRDW+e1tTjdWhcJrZJnwWMmiq4UG/qAKFElezLZ8qZWRYeN8rXK7k8RHsbTo7gP++ZcFEq7e45RfBXyICIrRz0oLoi9jD1iVV+KhCAXnyk36HAmP/bYlXp+BOyzoHpG2NQZdfg=
                          __typename: VendorNonCommissionRevenueInfo
                        images:
                          listing: https://images.deliveryhero.io/image/fd-bd/LH/j4w2-listing.jpg
                          logo: https://images.deliveryhero.io/image/fd-bd/bd-logos/j4w2-logo.jpg
                          __typename: VendorImagesData
                        vendorBudget:
                          budget: 3
                          __typename: VendorBudget
                        vendorChainData:
                        isFavoriteVendor: false
                        timeEstimations:
                          delivery:
                            duration:
                              upperLimitInMinutes: 35
                              lowerLimitInMinutes: 20
                              __typename: TimeEstimationDuration
                            minimumTime:
                            __typename: TimeEstimation
                          pickup:
                          __typename: TimeEstimations
                        timezone: Asia/Dhaka
                        vendorRating:
                          count: 155
                          value: 4.6
                          __typename: VendorRating
                        deliveryProvider: PLATFORM
                        incentives:
                        - id: '607312'
                          __typename: IncentiveData
                        - id: '605447'
                          __typename: IncentiveData
                        - id: dynamic-pricing:experiment:5296:j4w2
                          __typename: IncentiveData
                        urlKey: coffee-and
                        dynamicPricing:
                          deliveryFee:
                            total: 63
                            __typename: DynamicPricingDeliveryFee
                          minimumOrderValue:
                            total: 50
                            __typename: DynamicPricingMinimumOrderValue
                          __typename: DynamicPricing
                        vendorTile:
                          type: M
                          media:
                            url: https://images.deliveryhero.io/image/fd-bd/LH/j4w2-listing.jpg
                            __typename: Image
                          primaryTags:
                          - id: TAG_DEAL
                            elements:
                            - __typename: VendorTileIcon
                              iconId: DISCOUNT
                              iconDecorators: []
                            - __typename: VendorTileText
                              textId:
                              text: 15% off Tk. 100
                              arguments: []
                              isTranslationKey: false
                              textDecorators: []
                            __typename: VendorTileElementGroup
                          secondaryTags:
                          - id: TAG_PROMOTED
                            elements:
                            - __typename: VendorTileText
                              textId:
                              text: NEXTGEN_FEATURED_TAG
                              arguments: []
                              isTranslationKey: true
                              textDecorators: []
                            __typename: VendorTileElementGroup
                          vendorInfo:
                          - - id: VENDOR_INFO_DELIVERY_TIME
                              elements:
                              - __typename: VendorTileText
                                textId:
                                text: NEXTGEN_VIN_DELIVERY_SAVER_TIME_VARIANT_TILE
                                arguments:
                                - '20'
                                isTranslationKey: true
                                textDecorators: []
                              __typename: VendorTileElementGroup
                            - id: VENDOR_INFO_BUDGET_SIGN
                              elements:
                              - __typename: VendorTileText
                                textId:
                                text: ৳৳৳
                                arguments: []
                                isTranslationKey: false
                                textDecorators: []
                              __typename: VendorTileElementGroup
                            - id: VENDOR_INFO_CUISINES
                              elements:
                              - __typename: VendorTileText
                                textId:
                                text: Snacks
                                arguments: []
                                isTranslationKey: false
                                textDecorators: []
                              __typename: VendorTileElementGroup
                          - - id: VENDOR_INFO_DELIVERY_FEE
                              elements:
                              - __typename: VendorTileIcon
                                iconId: RIDER
                                iconDecorators: []
                              - __typename: VendorTileText
                                textId:
                                text: NEXTGEN_VIN_DELIVERY_SAVER_VARIANT_B_TILE
                                arguments:
                                - Tk50
                                isTranslationKey: true
                                textDecorators: []
                              - __typename: VendorTileIcon
                                iconId: SURGE_UP
                                iconDecorators: []
                              __typename: VendorTileElementGroup
                          __typename: VendorTile
                      - __typename: VendorData
                        code: krv8
                        name: Shawarma N Katiroll
                        isSuperVendor: false
                        availability:
                          distanceInMeters: 1566
                          isClosedDueToDisruption: false
                          nextAvailableAt:
                          status: OPEN
                          __typename: VendorAvailability
                        verticalParent:
                          code: Restaurant
                          __typename: VerticalParent
                        verticalSegment:
                          code: restaurants
                          __typename: VerticalSegment
                        resolutionFallback:
                          minimumDeliveryTime: 0
                          pricing:
                            deliveryFee: 0
                            minimumOrderValue: 0
                            __typename: VendorAvailabilityPricingFallbacks
                          __typename: VendorAvailabilityFallbacks
                        nonCommissionRevenueInfo:
                        images:
                          listing: https://images.deliveryhero.io/image/fd-bd/LH/krv8-listing.jpg
                          logo: https://images.deliveryhero.io/image/fd-bd/LH/krv8-hero.jpg
                          __typename: VendorImagesData
                        vendorBudget:
                          budget: 3
                          __typename: VendorBudget
                        vendorChainData:
                        isFavoriteVendor: false
                        timeEstimations:
                          delivery:
                            duration:
                              upperLimitInMinutes: 35
                              lowerLimitInMinutes: 20
                              __typename: TimeEstimationDuration
                            minimumTime:
                            __typename: TimeEstimation
                          pickup:
                          __typename: TimeEstimations
                        timezone: Asia/Dhaka
                        vendorRating:
                          count: 669
                          value: 4.8
                          __typename: VendorRating
                        deliveryProvider: PLATFORM
                        incentives:
                        - id: '603899'
                          __typename: IncentiveData
                        - id: '584545'
                          __typename: IncentiveData
                        - id: dynamic-pricing:experiment:5296:krv8
                          __typename: IncentiveData
                        urlKey: shawarma-n-katiroll
                        dynamicPricing:
                          deliveryFee:
                            total: 68
                            __typename: DynamicPricingDeliveryFee
                          minimumOrderValue:
                            total: 50
                            __typename: DynamicPricingMinimumOrderValue
                          __typename: DynamicPricing
                        vendorTile:
                          type: M
                          media:
                            url: https://images.deliveryhero.io/image/fd-bd/LH/krv8-listing.jpg
                            __typename: Image
                          primaryTags:
                          - id: TAG_DEAL
                            elements:
                            - __typename: VendorTileIcon
                              iconId: DISCOUNT
                              iconDecorators: []
                            - __typename: VendorTileText
                              textId:
                              text: 10% off Tk. 50
                              arguments: []
                              isTranslationKey: false
                              textDecorators: []
                            __typename: VendorTileElementGroup
                          secondaryTags: []
                          vendorInfo:
[...]
